
p{
    text-align: center;
    margin:0;
}
h1{
    font-family: 'Merriweather', serif;
    font-weight: bolder;
    text-align: center;
}
footer{
    background-color: #615A58;
    font-weight: bold;
    font-family: 'Merriweather', serif;
    color:white;
}
.nav{
    text-align: center;
    color: white;
    font-size: 3vh;
    margin-top: 10px;
    margin-bottom: 10px;
}
a{
    color:white;
}
/*Background of the header, background-size is set to fill the div*/
header{
    background: url("/Workspace/Resources/images/map3x.jpg") no-repeat top center fixed;
    background-size: cover;
    
}

section{
    text-align: center;
    background-color: #808080;
    padding-top: 50px;
    padding-bottom: 50px;
    color:black;
    background-size: 100%,100%;
    background-image: url(/Workspace/Resources/images/steet.jpg);
    background-attachment:scroll;
}


.box{
    background-color: white;
    margin-left: 20vw;
    margin-right: 20vw;
    padding: 1vw;
    border:solid;
}
/*For the icons at the top of the page restricts size and position*/
.icons{
    width: 64px;
    height: 64px;
    cursor: pointer;
    outline: none;
    border: none;
    margin-bottom: 5vh;
}
#contact_Btn{
    background:none;
    background:url("/Workspace/Resources/images/contact.png");
}
#facebook_Btn{
    background:none;
    background-image:url("/Workspace/Resources/images/facebook.png");
}
#twitter_Btn{
    background:none;
    background-image:url("/Workspace/Resources/images/Twitter.png");
}

.Tile{
    background:url(https://wallpaperscraft.com/image/cracks_texture_background_light_surface_50654_1920x1200.jpg) no-repeat top center fixed;
    background-size:cover;
}
/*Flipping Animation*/

.flip{ width:500px;
        height:375px; 
        margin:5px; 
        float: left;
}
.flip > .front{
	position:absolute;
	transform: perspective( 600px ) rotateY( 0deg );
	backface-visibility: hidden;
	transition: transform .5s linear 0s;
}
.flip > .back{
	position:absolute;
	transform: perspective( 600px ) rotateY( 180deg );
	background:#f2f2f2;
	backface-visibility: hidden;
	transition: transform .5s linear 0s;
}
.flip:hover > .front{
	transform: perspective( 600px ) rotateY( -180deg );
}
.flip:hover > .back{
	transform: perspective( 600px ) rotateY( 0deg );
}

/*Prices table Styles*/
th, td {
    border-bottom: 1px solid #ddd;
}
/*Every other child is a different coloured background*/
th{background-color:#999999; color:white;}
tr:nth-child(odd) {background-color: #f2f2f2} 
tr:nth-child(even) {background-color: white;}
#info{
    color:white;
}
/*Form Styles*/
.form-horizontal{
    background-color: white;
    border: 4px solid #999999;
    padding:5px;
    margin-bottom: 1vh;
    border-radius: 2vh;
    
}
/*Footer Styles*/

.bottomFooter{
    background-color: #1a1a1a
}

#footerLogo{
    position:absolute;
    top:2px;
    left:10px;
}

@media screen and (max-width: 768px){
    #logo{
        width:70%;
        height:70%;
    }
    #change{
        width:95%;
        height:100%; 
    }
    .flip{
        width:95%;
        height:235px;
    }
    .flip > .front{
    	position:absolute;
    	transform: perspective( auto ) rotateY( 0deg );
    	backface-visibility: hidden;
    	transition: transform .5s linear 0s;
    }
    .flip > .back{
    	position:absolute;
    	transform: perspective( auto ) rotateY( 180deg );
    	background:#f2f2f2;
    	backface-visibility: hidden;
    	transition: transform .5s linear 0s;
    }
    .flip:hover > .front{
    	transform: perspective( auto ) rotateY( -180deg );
    }
    .flip:hover > .back{
    	transform: perspective( auto ) rotateY( 0deg );
    }
    .box{
    background-color: white;
    padding: 15px;
    margin: 5vw;
    width: auto;
    border:solid;
    }
}