    <link href='https://fonts.googleapis.com/css?family=Merriweather:700' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,500' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/Workspace/css/TC.css">
    <style>
        .container{
            background: rgb(255, 255, 255);
            border-width: 20px;
            border-radius: 10px;
            border:solid 5px red;
            font-family: 'Roboto';
            font-weight: 600;
            color:black;
            margin-top: 10vh;
            margin-bottom: 10vh;
        }
        body{
            background-image: url("{{ url_for('static',filename='Resources/images/steet.jpg') }} ");
            background-attachment:scroll;
            background-size:cover;
        }
    </style>
 
        
        <div class="container" class="col-sm-6">
            <h1>Terms and Conditions</h1>
            <h4>The following terms and conditions for I’LL DRIVE School of Motoring are as follows</h4>
                
            <h2>Payments</h2>
            <ol>
                <li> Payments must be made by the pupil, to the instructor in full on completion of the lesson.</li>
                <li> All payments by cheque will be subject to a £1 administration charge due to additional bank charges.</li>
                <li> Block booking payments are non-refundable unless your instructor wishes to refund any monies at their discretion. </li>
               
            </ol>
            
            
            <h2> Cancellation Policy  </h2>
            <ol>
                <li> You must give your instructor at least 2 working days notice (a working day being Monday to Friday inclusive) if you wish to cancel a driving lesson, otherwise you will liable for the lesson fee.</li>
                <li> Your instructor has the right to cancel any lesson booked, with minimum notice, due to illness or unforeseen circumstances, but will always try to re-arrange your lesson. </li>
                <li> When having a driving lesson you must be at least 24hrs free from any alcohol consumed and totally drug free, if you are found to be falling into any or both these categories your instructor has the right to refuse to go ahead with your lesson and you will still have to pay for it </li>
            </ol>
            
            <h2> Driving Tests </h2>
            <ol>
                 <li> Driving tests can either be booked by yourself or your instructor please ensure that you have consulted your instructor before booking a driving test as they will know when they will be available.</li>
                 <li> Your instructor has the right to withdraw the use of a training vehicle for the purpose of a driving test if they believe that the pupil has not reached the excepted standard as set out by the Driving Standards Agency. You’re driving instructor will inform you when they believe you are ready to take your driving test.</li>
                 <li> If on the day of your test, your instructor, vehicle or both become unavailable due to unforeseen circumstances, I’LL DRIVE School of Motoring will try to ensure that a replacement vehicle, instructor or both will be available for the purpose of the driving test. Where a pupil refuses to carry out a driving test under these circumstances, I’LL DRIVE School of Motoring will not be liable for the cost of the driving test.</li>
                 <li> If you can’t do your test on the day, because you have lost your licence, you will still have to pay for the hours you have booked. </li> 
            </ol>
        </div>
