<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
        <!--A Viewport element to give the browser instructions on how to scale the webpage-->
        <title>I'll Drive</title>
         <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
        <!-- Latest compiled JavaScript -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
        <!--Font families-->
        <link href='https://fonts.googleapis.com/css?family=Merriweather:700' rel='stylesheet' type='text/css'>
        <!-- Link to Css File -->

        <link rel="stylesheet" href="/Workspace/css/footer.css">
	    <link href="http://fonts.googleapis.com/css?family=Cookie" rel="stylesheet" type="text/css">
        <script src="/Workspace/js/login.js"></script>
        <link rel="stylesheet" href="/Workspace/css/timetablejs.css">
        <link rel="stylesheet" href="/Workspace/css/timetable.css">
    </head>
    <body>
        <nav class="navbar navbar-inverse navbar-fixed-top">
            <div class="container-fluid">
                <div class="navbar-header">
                </div>
                <p class="nav" id="FontScale">
                    <span style="color:white;"><a href="Homepage.html">Home</a> . <a href="instructors.html">Instructors</a> . <a href ="account.html"> Account </a><a href ="#">T&C</a></span>
                </p>
            </div>
        </nav>


{% extends 'bootstrap/base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block title %}
    A simple form using SQLite
{% endblock %}

{% block content %}
    <div class="container">

        <ul class="entries">
            {% for entry in entries %}
                <li><h2>{{ entry.Username|capitalize }}</h2>{{ entry.Firstname }}
            {% endfor %}
        </ul>


    </div>

{% endblock %}

</body>
