
       <nav class="navbar navbar-inverse navbar-fixed-top">
            <div class="container-fluid">
                <div class="container">
                        <div class="nav" id="FontScale" style="text-align:center;">
                        <span style="color:white;"><a href="Homepage.html">Home</a> . <a href="instructors.html">Instructors</a> . <a href ="account.html"> Account </a><a href ="#">T&C</a></span>
                        <button style="float:right" type="button" class="btn btn-secondary-outline" data-toggle="modal" data-target="#loginModal">Login</button>
                    </div>
                
            </div>
            </div>
        </nav>
