
p{
    text-align: center;
}

footer{
    background-color: #615A58;
    text-align: center;
    font-weight: bold;
    font-family: Monospace;
    color:white;
}
#nav{
    text-align: center;
    color: red;
    font-size: 3vh;
    margin-top: 10px;
}
/*Background of the header, background-size is set to fill the div*/
header{
    background: url("/Workspace/Resources/images/map3x.jpg") no-repeat top center fixed;
    background-size: 100%,100%;
    
}
.img2{
    padding-top: 5vw;
    padding-bottom: 5vw;
    background: url("/Workspace/Resources/images/topgear.jpg") no-repeat top center fixed;
}
section{
    text-align: center;
    background-color: #808080;
    padding-top: 50px;
    padding-bottom: 50px;
    color:black;
    background-size: 100%,100%;
    background-image: url(/Workspace/Resources/images/steet.jpg);
}


.box{
    background-color: white;
    padding: 15px;
}
/*For the icons at the top of the page restricts size and position*/
.icons{
    width: 64px;
    height: 64px;
    cursor: pointer;
    outline: none;
    border: none;
    margin-bottom: 5vh;
}
#contact_Btn{
    background:none;
    background-image: url("/Workspace/Resources/images/contact.png");
}
#facebook_Btn{
    background:none;
    background-image:url("/Workspace/Resources/images/facebook.png");
}
#twitter_Btn{
    background:none;
    background-image:url("/Workspace/Resources/images/Twitter.png");
}

/*Image Flips for Qoutes from Previous Students*/
/*flip{*/
/*    text-align: center;*/
/*}*/
/*.flip > .front{*/
/*    position:absolute;*/
/*	left:25%;*/
/*	transform: perspective( 500px ) rotateY( 0deg );*/
/*	backface-visibility: hidden;*/
/*	transition: transform .5s linear 0s;*/
/*}*/
/*.flip > .back{*/
/*	position:absolute;*/
/*	left:25%;*/
/*	transform: perspective( 500px ) rotateY( 180deg );*/
/*	backface-visibility: hidden;*/
/*	transition: transform .5s linear 0s;*/
/*}*/
/*.flip:hover > .front{*/
/*	transform: perspective( 500px ) rotateY( -180deg );*/
/*}*/
/*.flip:hover > .back{*/
/*	transform: perspective( 500px ) rotateY( 0deg );*/
/*}*/

/*.flip#photo{*/
/*    height: 25%;*/
/*    width: 25%;*/
/*}*/
.Tile{
    height:800px;
    background:url(https://wallpaperscraft.com/image/cracks_texture_background_light_surface_50654_1920x1200.jpg) no-repeat top center fixed;
    background-size:100%,100%;
}
.flip{ width:500px; height:375px; margin:5px; float:left; }
.flip > .front{
	position:absolute;
	transform: perspective( 600px ) rotateY( 0deg );
	background:#FC0; width:500px; height:375px; border-radius: 7px;
	backface-visibility: hidden;
	transition: transform .5s linear 0s;
}
.flip > .back{
	position:absolute;
	transform: perspective( 600px ) rotateY( 180deg );
	background: #80BFFF; width:500px; height:375px; border-radius: 7px;
	backface-visibility: hidden;
	transition: transform .5s linear 0s;
}
.flip:hover > .front{
	transform: perspective( 600px ) rotateY( -180deg );
}
.flip:hover > .back{
	transform: perspective( 600px ) rotateY( 0deg );
}