
p{
    text-align: center;
}

.header {
    background:#595959;
    border:1px solid #CCC;
    margin:0px auto;

}

#navbtn{
    background:#595959;
}

#nav{
    text-align: center;
    color: red;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 150%;
}